.Header {
    background-color: black;
    width: 100%;
    height: 400px;
    position: relative;

    @media (max-width:768px) {
        height: 300px;
    }

    @media (max-width:480px) {
        height: 200px;
    }

    &__main-image {
        background-image: url('./headfoto.jpeg');
        background-repeat: no-repeat;
        width: 30%;
        height: 75%;
        right: 10%;
        top: 12%;
        position: absolute;

        @media(max-width: 1200px) {
            width: 35%;
        }

        @media(max-width: 1024px) {
            display: none;
        }
    }

    aside {
        height: 105%;
        width: 3%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, grey, rgb(35, 31, 31));
        z-index: 5;

        @media (max-width: 1200px) {
            width: 5%;
        }

        @media (max-width: 768px) {
            width: 6%;
        }

        @media (max-width: 560px) {
            width: 8%;
        }

        @media (max-width: 480px) {
            display: none;
        }
        
            a {
                position: absolute;
                top: 5px;
                margin-left: 2px;
                width: 90%;
                height: 10%;
                display: block;
                background-image: url('./github.png');
                z-index: 20;
                background-size: contain;
                background-repeat: no-repeat;
                
                @media (max-width:768px) {
                    height: 15%;
                }

                @media (max-width:768px) {
                    height: 15%;
                }

                @media (max-width: 560px) {
                    height: 12%;
                }
            }
        
            strong {
                position: absolute;
                bottom: 70%;
                left: -75%;
                width: 240%;
                display: block;
                transform: rotate(-90deg);
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(45, 41, 41);

                @media (max-width:768px) {
                    bottom: 60%;
                    width: 300%;
                    left: -100%;
                }

                @media (max-width:560px) {
                    bottom: 50%;
                    width: 280%;                  
                }
            }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 10%;
        left: 15%;

        @media (max-width: 1200px) {
            top: 15%;
            left: 10%;
        }

        @media (max-width: 1024px) {
            top: 20%;
            left: 12%;
        }

        @media (max-width: 768px) {
            font-size: 10px;
            top: 25%;
        }

        @media (max-width: 480px) {
            font-size: 6px;
            top: 35%;
            left: 8%;
        }

        strong:nth-child(1) {
            text-transform: uppercase;
            color: gold;
            font-family: 'Arima', Arial, Helvetica, sans-serif;
            border-right: 3px solid grey;
            padding-right: 10px;
            border-radius: 1% 1%;
        }

        strong:nth-child(2) {
            text-transform: uppercase;
            color: white;
            font-family: 'Arima', Arial, Helvetica, sans-serif;
            margin-left: 10px;
        }
    }

    h1 {
        position: absolute;
        color: white;
        left: 20%;
        top: 25%;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 100;
        display: block;
        width: 35%;
        line-height: 60px;
        letter-spacing: 3px;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: 35px;
            line-height: 40px;
            left: 20%;
            top: 23%;
        }

        @media (max-width: 1024px) {
            font-size: 30px;
            width: 40%;
            line-height: 35px;
            left: 35%;
            top: 22%;
        }

        @media (max-width: 768px) {
            font-size: 25px;
            width: 44%;
            line-height: 30px;
        }

        @media (max-width: 480px) {
            font-size: 15px;
            line-height: 20px;
            top: 20%;
        }
    }

    &__gold {
        position: absolute;
        width: 20%;
        height: 20%;
        bottom: 10%;
        left: 3%;
        border-top: 5px solid rgb(207, 177, 10);
        border-right: 5px solid rgb(207, 177, 10);
        border-bottom: 5px solid rgb(207, 177, 10);

        @media (max-width: 768px) {
            left: 10%;
        }

        @media (max-width: 480px) {
            left: 0;
        }
    }

    &__white {
        position: absolute;
        bottom: 20%;
        left: 8%;
        width: 7%;
        height: 5px;
        background-color: white;

        @media (max-width: 768px) {
            left: 15%;
        }

        @media (max-width: 480px) {
            left: 10%;
        }
    }

    h3 {
        position: absolute;
        background-color: transparent;
        color: white;
        font-family: 'Arima', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        bottom: 12%;
        left: 17%;
        background-color: black;

        @media (max-width: 768px) {
            font-size: 14px;
            left: 26%;
            bottom: 14%;
        }

        @media (max-width: 480px) {
            font-size: 12px;
            bottom: 10%;
            left: 18%;
        }

        strong {
            color: rgb(207, 177, 10);
        }
    }

    &__menu {
        position: absolute;
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        right: 3%;

        @media (max-width: 1200px) {
            left: 10%
        }

        @media (max-width: 1024px) {
            left: 5%
        }

        @media (max-width: 480px) {
            left: 0;
        }

        li {
            margin: 0 10px;

            @media (max-width: 768px) {
                margin: 0 3px;
            }

            @media (max-width: 480px) {
            margin: 0 1px;
            border: 1px solid white;
            padding: 0.5px;
        }

            
        }

        a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
            letter-spacing: 2px;
            transition: 0.3s;

            @media (max-width: 1024px) {
                font-size: 12px;
            }

            @media (max-width: 768px) {
                font-size: 8px;
                letter-spacing: 1px;
            }

            @media (max-width: 480px) {
                font-size: 5px;
                letter-spacing: 1px;
            }

            &:hover {
                color: rgb(207, 177, 10);
            }
        }
    }

}