.ResumePage {
    button {
        margin: 10px 30px;
        color: white;
        letter-spacing: 2px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;

        &:hover {
            color: rgb(207, 177, 10);
        }
    }
}