.Content {
    background-color: black;
    height: calc(100vh - 100px);
    display: block;
    position: relative;
    border-top: 2px groove white;

    &__icon {
            position: absolute;
            bottom: 7%;
            font-size: 30px;
            margin-left: 7px;
            color: rgb(45, 41, 41);
            cursor: pointer;
        }
    aside {
        height: 100%;
        width: 3%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, grey, rgb(35, 31, 31));
        z-index: 5;

        @media (max-width: 1200px) {
            width: 5%;
        }

        @media (max-width: 768px) {
            width: 6%;
        }

        @media (max-width: 560px) {
            width: 8%;
        }

        @media (max-width: 480px) {
            display: none;
        }
        
            strong {
                transform: rotate(-90deg);
                display: block;
                position: absolute;
                width: 250%;
                line-height: 1;
                bottom: 45%;
                left: -75%;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(45, 41, 41);

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            i {
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
        
        h3 {
            color: white;
            position: absolute;
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
            letter-spacing: 4px;
            right: 2%;
            top: 5%;

            @media (max-width: 480px) {
                top: 2%;
            }
        }
        
        &__modal-space {
            padding: 5%;
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 70%;
            margin-left: 10%;
            justify-content: space-around;

            @media (max-width: 1024px) {
                flex-direction: column;
                padding-top: 20%;
            }
    }
}