.Content {
    background-color: black;
    height: 100%;
    display: block;
    position: relative;


    aside {
        height: 100%;
        width: 3%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, grey, rgb(35, 31, 31));
    }
}